body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Header {
  padding-top: 20px;
  text-align: center;
}

#form {
  text-align: center;
}

#inputId {
  width: 20px;
  margin-right: 4px;
  text-transform: uppercase;
}

.guess {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  /* margin-bottom: 10px; */

}

.guess > p{
  display: inline;
  height: 20px;
  width: 20px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  /* padding-bottom: 2px; */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  margin: 4px;
  width: absolute;
}

.statusText {
  text-align: center;
  font-weight: bold;
}

.reset-btn {
  margin-top: 5px;
}

.curr-word {
  text-align: center;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}